@import '../../assets/css/colors.css';

.input {
  background: transparent;
  border: none;
  border-bottom: solid 1px var(--gray-color);
  box-sizing: border-box;
  color: var(--storm-gray-color);
  font-size: 18px;
  padding: 16px 4px;
  width: 100%;
}

.input:focus {
  border-bottom: solid 2px var(--mountain-meadow-color);
  box-shadow: 0 0 0 0;
  outline: 0;
}

label {
  color: var(--storm-gray-color);
}
