@import '../../assets/css/colors.css';

.selectOptions {
  background-color: var(--mercury-color);
  border: none;
  border-radius: 26.5px;
  color: var(--mid-gray-color);
  font-size: 24px;
  padding: 16px 0;
  text-align-last: center;
  width: 100%;
}

.selectOptions {
  outline: 0;
}
