@import '../../assets/css/colors.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.label {
  color: var(--black-color);
  font-weight: bold;
}

.selectOptions {
  background: transparent;
  border: solid 2px var(--silver-color);
  border-radius: 6px;
  color: var(--black-color);
  margin-top: 1em;
  padding: 1em;
  text-align-last: center;
  width: 100%;
}

.selectOptions {
  font-size: 1em;
  outline: 0;
}

.label, .selectOptions {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}
