@import '../../assets/css/colors.css';

input {
  background: transparent;
  border: none;
  border-bottom: solid 1px var(--gray-color);
  color: var(--storm-gray-color);
  font-size: 18px;
  padding: 16px 4px;
  width: 100%;
}

label {
  color: var(--storm-gray-color);
}
