@import '../../assets/css/colors.css';

input {
  background: transparent;
  border: none;
  border-bottom: solid 1px var(--gray-color);
  font-size: 18px;
  margin-bottom: 50px;
  padding: 16px 4px;
  width: 100%;
}
