@import '../../assets/css/colors.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

input {
  background: transparent;
  border: solid 2px #C4C4C4;
  border-radius: 6px;
  box-sizing: border-box;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  margin-top: 1em;
  padding: 1em;
  width: 100%;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

label {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
}

.errorMessage {
  color: #EA162C;
}

.inputError {
  color: #EA162C;
  border-color: #EA162C;
}

.labelError {
  color: #EA162C;
}