@import '../../assets/css/colors.css';

.card {
  background-color: var(--white-color);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.cardContentItem {
  width: calc(100% / 3);
  padding: 10px 0;
}

.cardContentItem > h3,
.cardContentItem > h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.cardContentItem > h2 {
  font-weight: 600;
}

.cardContentImage {
  padding: 10px 16px;
}

@media (max-width: 396px) {
  .cardContentImage {
    display: none;
  }

  .card {
    padding: 10px;
  }
}