:root {
  --gray-color: #818181;
  --mako-color: #454550;
  --mercury-color: #e5e5e5;
  --mid-gray-color: #595A63;
  --mountain-meadow-color: #1AAD6F;
  --storm-gray: #72737A;
  --tundora-color: #434242;
  --white-color: #FFFFFF;
}
