:root {
  --mountain-meadow-color: #1AAD6F;
  --white-color: #FFFFFF;
<<<<<<< HEAD
  --mercury-color: #E8E7E7;
  --mid-gray-color: #595A63;
=======
  --mid-gray-color: #595A63;
  --gray-color: #818181;
>>>>>>> 26eff3d... Adiconado cores do componente Table
}
