@import '../../assets/css/colors.css';

.container {
  background-color: #fff;
  min-height: 100vh;
}

.goBack {
  padding: 20px 0 10px 20px;
}

.goBackBtn {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.content {
  padding: 10px 20px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.title,
.description {
  font-family: Poppins;
  font-style: normal;
}

.description {
  font-size: 12px;
}

.selectOption {
  margin-bottom: 1em;
}

.inputLiters {
  margin-bottom: 1em;
}

.twoInputLine {
  display: flex;
  margin-bottom: 1em;
}

.inputMileage {
  margin-right: 1em;
} 

.buttonSave {
  margin-top: 25%;
}
