@import '../../assets/css/colors.css';

.container {
  position: relative;
}

.input {
  background: var(--mercury-color);
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  font-size: 18px;
  padding: 14px 14px 14px 50px;
  width: 100%;
}

.input:focus {
  outline: none;
}

.iconSearch {
  padding: 12px;
  position: absolute;
  pointer-events: none;
}
