@import '../../assets/css/colors.css';

.container {
  padding: 50px;
}

.informationAll {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.informationAll > * {
  margin: 0px 200px 0 2px; 
}

Input {
  margin-bottom: 10px;
}
