@import '../../assets/css/colors.css';

.container {
  background-color: #fff;
  padding: 0 10px 10px 10px;
  float: left;
  height: calc(100vh - 149px);
  overflow-y: scroll;
  width: calc(100% - 20px);
}

.cardAdd {
  align-items: center;
  color: var(--tundora-color);
  display: flex;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
}

.cardAdd p {
  margin: 1.5px;
}

.emptyTable {
  overflow: auto;
}

.implementItem:not(:last-child) {
  padding-bottom: 14px;
}

.header {
  background-color: #EA162C;
  padding: 18px 10px;
  border-bottom-right-radius: 50px;
}

.header > h1 {
  margin:0;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
