@import '../../assets/css/colors.css';

.container {
  background-color: var(--mercury-color);
  padding: 50px;
}

.cardAdd {
  color: var(--tundora-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.cardAdd p {
  margin: 1.5px;
}
