@import '../../assets/css/colors.css';

.emptyState {
  background: transparent;
  padding: 60px;
  position: relative;
}

.emptyState > * {
  text-align: center;
}

.emptyStateImg {
  margin-left: 18.5%;
}
