@import '../../assets/css/colors.css';

.container {
  background-color: var(--mercury-color);
  background-image: url(../../assets/Images/fundo-container-create.svg);
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;
  font-style: normal;
  padding: 50px;
}

.container p {
  margin: 1.5px;
}

.container h1 {
  color: var(--tundora-color);
}
