@import '../../assets/css/colors.css';

.login {
  width: 100%;
  min-height: 100vh;
}

.auth {
  box-sizing: border-box;
  padding: 20px;
}

.load {
  text-align: center;
}

.imgLogo {
  display: block;
  width: 50vw;
  text-align: center;
}

.inputPass {
  margin-bottom: 1em;
}

.inputPwd {
  padding: 20px 0;
}