@import '../../assets/css/colors.css';

.login {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.auth {
  box-sizing: border-box;
  padding: 60px;
  width: 60%;
}

.logo {
  background-color: var(--monza-color);
  overflow: hidden;
  width: 40%;
}

.imgLogo {
  width: 23vw;
  margin-left: 7.5vw;
  margin-top: 40vh;
}
