@import '../../assets/css/colors.css';

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.headerContainer h2 {
  color: var(--mid-gray-color);
}

.table {
  border-collapse: collapse;
  color: var(--mid-gray-color);
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 100%;
}

th {
  padding: 10px 10px 10px 15px;
  text-align: left;
}

td {
  padding: 16px;
}

tr, th {
  border-bottom: solid 1px var(--gray-color);
}

.preventiva {
  color: #ECB31F;
}

.corretiva {
  color: #E7079A;
}

.estacionamento {
  color: #1F32D8;
}

.preventiva, .corretiva, .estacionamento {
  font-weight: bold;
}
  