@import '../../assets/css/colors.css';

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.table {
  border-collapse: collapse;
  color: var(--mid-gray-color);
  width: 100%;
}

th {
  padding: 10px;
  text-align: left;
}

td {
  padding: 16px;
}

tr, th {
  border-bottom: solid 1px var(--gray-color);
}

.event {
  font-weight: bold;
}

.preventiva {
  color: #ECB31F;
}

.corretiva {
  color: #E7079A;
}

.estacionamento {
  color: #1F32D8;
}
  