@import '../../assets/css/colors.css';

.header {
  display: flex;
  align-items: center;
  padding: 18px 10px;
  box-sizing: border-box;
  border-bottom-right-radius: 50px;
  flex-wrap: wrap;
}

.header > h1 {
  margin:0;
  color: #333;
  font-size: 22px;
  font-weight: bold;
}

.filterContainer {
  padding: 0 10px 10px 10px;
  float: left;
  height: calc(100vh - 140px);
  overflow-y: scroll;
  width: calc(100%);
  box-sizing: border-box;
  overflow-x: hidden;
}

.periodFilter,
.plateFilter,
.operationFilter,
.radioButtonFilterContainer {
  padding: 0 20px;
}

.radioButtonFilterContainer,
.periodFilter {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.periodFilterItem {
  width: calc(100%/2 - 10px);
}


.radioButtonItem {
  width: calc(100%/2 - 5px);
}

.filtersTitle {
  width: 100%;
}

.radioButtonFilterContainer {
  padding-bottom: 20px;
  border-top: 1px solid #c4c4c4;
}

.plateFilter {
  padding: 20px 0;
}

.periodFilter,
.operationFilter {
  padding: 20px 0;
  border-top: 1px solid #c4c4c4;
}

.closeBtn {
  padding: 6px 30px 0 0;
}

.actionFilters {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.actionFilterItem {
  padding-top: 20px;
  width: calc(100% / 2 - 5px);
}