@import '../../assets/css/colors.css';

.container {
  background-color: var(--mercury-color);
  font-family: Lato, sans-serif;
  font-style: normal;
  padding: 50px;
}

.container p {
  margin: 1.5px;
}

.container > * p, h1, h4 {
  color: var(--mako-color);
}

.cardDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

.cardDetails > * {
  margin-right: 140px; 
}

.cardDetails h5 {
  color: var(--storm-gray-color);
  font-weight: normal;
}

.button h5 {
  margin-bottom: 8px;
}
